*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 20%;
}
.loading{
    position: relative;
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: rgb(0, 178, 248);
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}
.dot1{
    animation-delay: 0s;
}
.dot2{
    animation-delay: .33s;
}
.dot3{
    animation-delay: .66s;
}